/* Awesome work on using CSS variables!! */
:root {
    --background: #F5F3EF;
    --card: #FFFFFF;
    --accent: #FEBD2F;
    --text-primary: #000000;
    --text-secondary: #646464;
    --outline: #DCDCDC;
    --fw-bold: 700;
    --fw-med: 500;
    --fw-regular: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px black solid */
}

body {
    background-color: var(--background);
}

/* Nice work on using the correct font for the correct element! */
h1,
h2,
h3 {
    font-family: 'Roboto Serif', sans-serif;
}

p,
a {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: var(--fw-med);
    font-size: 64px;
}

h2 {
    font-weight: var(--fw-med);
    font-size: 40px;
}

h3 {
    font-weight: var(--fw-bold);
    font-size: 24px;
}

p {
    font-weight: var(--fw-regular);
    font-size: 24px;
    color: var(--text-secondary);
}

a {
    font-weight: var(--fw-med);
    color: var(--text-primary);
    font-size: 18px;
    text-decoration: none;
}

li {
    list-style: none;
}

/* Grid template areas haven’t been used to correctly display items at different positions in different viewports.
This was one of the points in the rubric that hasn't been met. 
Making a main container to be grid to layout everything would be a good place to use grid template areas.*/
.container {
    padding: 40px;
    margin: auto;
}

/* HEADER */

header {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

/* Since nav is a flexbox. You can use gap to add spacing between elements rather than having margins. */
nav a:first-of-type {
    margin-right: -30%;
}

#create-account {
    background-color: var(--text-primary);
    padding: 16px 24px;
    border-radius: 28px;
    color: var(--card);
}

/* BANNER */

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-section {
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section h1 {
    padding-bottom: 32px;
}

.about-section p {
    line-height: 32px;
}

.about-section-img img {
    width: 100%;
}

/* CARDS */

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 80px;
    padding: 120px 40px;
}


.card {
    width: 100%;
    background: var(--card);
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    min-height: 318px;
}

.card:first-of-type {
    background-color: var(--accent);
    padding: 40px 40px 90px 40px;
}

.card p {
    font-size: 18px;
    line-height: 28px;
}

.card a {
    width: fit-content;
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid var(--outline);
}

.icon {
    position: absolute;
    right: 25px;
    top: -40px;
}

/* FOOTER */

footer {
    height: 80px;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDAIA QUERIES */

/* LAPTOPS */
@media screen and (max-width: 1148px) {
    nav a:first-of-type {
        margin-right: -25%;
    }
}

@media screen and (max-width: 928px) {
    nav a:first-of-type {
        margin-right: -20%;
    }
}

/* TABLET */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    .card p {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 0 24px 0;
    }

    nav a:first-of-type {
        margin-right: -15%;
    }

    .banner {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-section {
        grid-column: span 2;
        margin-bottom: 60px;
        text-align: center;
        padding: 0 80px;
    }

    .about-section-img {
        grid-column: span 2;
    }

    .about-section-img img {
        height: 360px;
        object-fit: cover;
        border-radius: 32px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 56px;
        padding: 80px 0;
    }

    .card:first-of-type {
        padding: 32px 32px 123px 32px;
    }
}

@media screen and (max-width: 708px) {
    nav a:first-of-type {
        margin-right: -10%;
    }
}

@media screen and (max-width: 628px) {
    nav a:first-of-type {
        margin-right: -5%;
    }
}

/* MOBILE */

@media screen and (max-width: 560px) {
    nav a {
        display: none;
    }

    nav img {
        margin-left: 34%;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }


}

@media screen and (max-width: 425px) {
    nav img {
        margin-left: 26%;
    }

    .about-section {
        padding: 0;
    }

    .about-section-img img {
        height: auto;
    }

    .card-container {
        grid-template-columns: 1fr;
        padding: 40px 0 60px 0;
    }

    .card:first-of-type {
        min-height: 132px;
        padding: 24px 50px 24px 24px;
        border-radius: 24px;
    }

    .card {
        padding: 24px;
        min-height: 247px;
    }
}

@media screen and (max-width: 320px) {
    nav img {
        margin-left: 15%;
    }
}

/* Overall, beautiful work! You did amazing! You should be proud of yourself!🙌 */